.container {
    text-align: center;
}

.title {
    font-size: 1.1em;
    font-weight: normal;
    margin: 0;
}

.quote {
    font-style: italic;
    margin: 0;
    color: #555;
}

.rolls {
    margin: 15px 0;
    border: solid 1px #aaa;
}

.roll {
    margin: 10px 0;
    /*min-height: 40px;*/
}

.dice {
    font-weight: bold;
}

.close {
    padding: 5px 15px;
    border: solid 1px;
}