.container {
    margin: auto;
    width: 250px;
}

.label {
    display: inline-block;
    width: 50px;
}

.attribute {
    display: inline-block;
    width: 30px;
}

.bonus {
    display: inline-block;
    width: 30px;
}

.edit {
    display: inline-block;
    width: 30px;
}

.edit input {
    width: 30px;
}

.save {
    text-align: center;
}

.save button {
    padding: 5px;
    margin: 5px;
    display: inline-block;
    width: 100px;
}

.errorMessage {
    color: red;
    height: 1em;
}