.container {
    margin: auto;
    width: 360px;
}

.saveButton {
    display: block;
    padding: 5px;
    width: 30%;
    margin: 5px auto;
}

.left {
    display: inline-block;
    text-align:right;
    min-width:150px;
}

.right {
    display: inline-block;
    padding-left: 5px;
    min-width:50px;
}

.input {
    width: 50px;
}

.message {
    height: 1em;
    font-weight: bold;
}

.error {
    color: red;
}