.modal {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #aaa;
    background-color: rgba(0,0,0,.5);
}

.content {
    background-color: #fff;
    margin: 25% auto;
    padding: 20px;
    width: 80%;
}