.container {
    border: solid 1px #eee;
}

.section {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
}

.left {
    text-align: right;
    color: #777;
    display: inline-block;
    padding-right: 5px;
}

.right {
    display: inline-block;
    font-weight: bold;
}

.header {
    background-color: #eee;
    font-weight: bold;
    padding: 1px;
    text-indent: 20px;
}

.editable {

}

.editable:hover {
    color: blue;
    cursor: pointer;
}