.maxHP {
    border-collapse: collapse;
    display: inline-block;
}

.maxHP thead {
    border-bottom: solid 1px;
}

.maxHP tbody th {
    font-weight: normal;
    text-align: right;
}

.maxHP tbody td {
    font-weight: bold;
    padding-left: 15px;
}

.maxHP tbody tr:last-child th {
    border-top: solid 1px;
}

.maxHP tbody tr:last-child td {
    border-top: solid 1px;
}